<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" ng-app="yozh" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html lang="en" ng-app="yozh" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html lang="en" ng-app="yozh" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="yozh" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>welcom to youzhe</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- <link rel="stylesheet" href="css/normalize.css"> -->
        <link rel="stylesheet" href="css/material.css">
        <!-- <link rel="stylesheet" href="css/icomoon.css"> -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet"> -->
        <link href="css/roboto.css" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        <link href="css/material-icon.css" rel="stylesheet">
        <link rel="stylesheet" href="less/style.css">
        <!-- <script src="js/vendor/angular.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
    </head>
    <body>
        <!-- Uses a header that contracts as the page scrolls down. -->
        <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
            <header class="demo-header mdl-layout__header mdl-color--green-500 mdl-color-text--grey-100">
                <!-- Top row, always visible -->
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">Title</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="demo-navigation mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link mdl-color-text--grey-200" href=""><i class="mdl-color-text--grey-300 material-icons" role="presentation">home</i>Home</a>
                        <a class="mdl-navigation__link mdl-color-text--grey-200" href=""><i class="mdl-color-text--grey-300 material-icons" role="presentation">inbox</i>Inbox</a>
                        <a class="mdl-navigation__link mdl-color-text--grey-200" href=""><i class="mdl-color-text--grey-300 material-icons" role="presentation">delete</i>Trash</a>
                        <a class="mdl-navigation__link mdl-color-text--grey-200" href=""><i class="mdl-color-text--grey-300 material-icons" role="presentation">report</i>Spam</a>
                    </nav>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
                            <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp" />
                        </div>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-layout--small-screen-only" id="hdrbtn">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <ul class="demo-navigation mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                        <li class="mdl-menu__item"><a class="mdl-navigation__link mdl-color-text--grey-900" href=""><i class="material-icons" role="presentation">home</i>Home</a></li>
                        <li class="mdl-menu__item"><a class="mdl-navigation__link mdl-color-text--grey-900" href=""><i class="material-icons" role="presentation">inbox</i>Inbox</a></li>
                        <li class="mdl-menu__item"><a class="mdl-navigation__link mdl-color-text--grey-900" href=""><i class="material-icons" role="presentation">delete</i>Trash</a></li>
                        <li class="mdl-menu__item"><a class="mdl-navigation__link mdl-color-text--grey-900" href=""><i class="material-icons" role="presentation">report</i>Spam</a></li>
                    </ul>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <header class="demo-drawer-header mdl-color--green-700 mdl-color-text--grey-200">
                    <img src="img/60x60.jpg" class="demo-avatar">
                    <div class="demo-avatar-dropdown">
                        <span>hello@example.com</span>
                        <div class="mdl-layout-spacer"></div>
                        <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons" role="presentation">arrow_drop_down</i>
                            <span class="visuallyhidden">Accounts</span>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                            <li class="mdl-menu__item">hello@example.com</li>
                            <li class="mdl-menu__item">info@example.com</li>
                            <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
                        </ul>
                    </div>
                </header>
                <nav class="demo-navigation mdl-navigation">
                    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
                    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Inbox</a>
                    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Trash</a>
                    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Spam</a>
                    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Forums</a>

                    <div class="mdl-layout-spacer"></div>
                    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                
                <div class="page-content" style="min-height: 1000px;">
                    
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-table mdl-cell--2-col-phone">
                            
                        </div>
                    </div>
                </div>
                
            </main>
            <main class="view-content mdl-color--grey-300" style="display: block;">
                <div class="register-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
                    <header class="mdl-layout__header mdl-color--green-700 mdl-color-text--grey-100">
                        <!-- Top row, always visible -->
                        <div class="mdl-layout__drawer-button">
                            <i class="material-icons">arrow_back</i>
                        </div>
                        <div class="mdl-layout__header-row">
                            <!-- Title -->
                            
                            <span class="mdl-layout-title">REGISTER</span>
                            <div class="mdl-layout-spacer"></div>
                            
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                <i class="material-icons">share</i>
                            </button>
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn2">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <ul class="demo-navigation mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn2">
                                <li class="mdl-menu__item"><a class="mdl-navigation__link mdl-color-text--grey-900" href=""><i class="material-icons" role="presentation">home</i>Home</a></li>
                            </ul>
                        </div>
                    </header>
                    <main class="mdl-layout__content">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-table mdl-cell--1-col-phone"></div>
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-table mdl-cell--4-col-phone">
                                <form action="#">
                                    <div>
                                        <img src="img/60x60.jpg" class="demo-avatar">
                                    </div>
                                    <div class="">
                                        <div class="mdl-textfield mdl-js-textfield">
                                            <input class="mdl-textfield__input" type="file" id="imageFile" />
                                            <label class="mdl-textfield__label" for="imageFile">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="user" />
                                            <label class="mdl-textfield__label" for="user">
                                                Enter your name
                                            </label>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="email" />
                                            <label class="mdl-textfield__label" for="email">
                                                Enter your email
                                            </label>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="password" id="password" />
                                            <label class="mdl-textfield__label" for="password">
                                                Enter password
                                            </label>
                                        </div>
                                    </div>
                                    <!-- <div class="">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="password" id="repassword" />
                                            <label class="mdl-textfield__label" for="repassword">
                                                Enter repassword
                                            </label>
                                        </div>
                                    </div> -->
                                    <div class="form-row">
                                        <label for="checkbox" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                            <input type="checkbox" id="checkbox" class="mdl-checkbox__input">
                                            <span class="mdl-checkbox__label">I agree User Agreement</span>
                                        </label>
                                    </div>
                                    <div class="form-row"><a href=""><label for="">&lt;&lt;User Agreement&gt;&gt;</label></a></div>
                                    <div class="">
                                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                            <i class="material-icons">keyboard_backspace</i>
                                            Back
                                        </a>
                                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect float-right">
                                            Next
                                            <i class="material-icons">forward</i>
                                        </a>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                        
                    </main>
                </div>
            </main>
            <footer class="mdl-mini-footer mdl-layout--large-screen-only">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">
                        More Information
                    </div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy and Terms</a></li>
                        <li><a href="#">User Agreement</a></li>
                    </ul>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <button class="mdl-mini-footer__social-btn"></button>
                    <button class="mdl-mini-footer__social-btn"></button>
                    <button class="mdl-mini-footer__social-btn"></button>
                </div>
            </footer>
        </div>
    	<!-- <script src="js/vendor/angular-route.js"></script>
        <script src="js/vendor/angular-resource.js"></script> -->
        <script src="js/vendor/material.js"></script>
    </body>
</html>