body {
	/*background-color: #000;*/
	
	/*font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
	/*color: #9aa6af;*/
	text-rendering: optimizelegibility;
	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;

	-o-tap-highlight-color:rgba(0,0,0,0); 
	-o-text-size-adjust: none;
	-o-font-smoothing: antialiased;

	tap-highlight-color:rgba(0,0,0,0); 
	text-size-adjust: none;
	font-smoothing: antialiased;
}
a {
	text-decoration: none;
}

.container {
	overflow: hidden;
	background-color: #000;

	/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

header {
	height: 80px;
	position: relative;
	background-color: #ffffff;
	box-shadow: 0 2px 3px #cccccc;
}
header h1 {
	color: #9aa6af;
	text-align: left;
	font-size: 2em;
	line-height: 80px;
	font-weight: bold;
	padding-left: 20px;
	display: inline;
}

header.open-menu, div.content.open-menu {
	width: 82%;
	margin-left: 18%;
}

.burger {
	position: absolute;
	float: left;
	padding: 10px;
	top: 4px;
	left: 10px;
	
	display: none;
}
.burger span {
	font-size: 2em;
	color: #F0F0F0;
}
.burger.open li {
	color: #626569;
}

nav {
	/*position: absolute;*/
	/*top: 0;*/
	/*right: 50px;*/
	/*width: 100%;*/
}

nav .background {
	display: none;
}

nav li {
	/*float: left;*/
	display: inline-block;
	height: 80px;
}
nav li.active, nav li:hover, header .search:hover {
	box-shadow: inset 0 -2px 0 #69aa6f;
	/*border-bottom: #69aa6f 1px solid\0;*/
}
nav li a {
	font-size: 1em;
	color: #2e3233;
	padding: 32px 25px;
	
	display: block;
}
nav li a:hover, header .search a:hover {
	color: #69aa6f;
}

nav li a span {
	margin-right: 5px;
}

nav .user, header .search, nav .menu {
	display: inline-block;
}

nav .user, nav .menu {
	position: absolute;
	top: 0;
}

nav .user {
	right: 80px;
}

nav .menu {
	right: 300px;
	padding: 0 20px;
}

nav .user {
	padding: 17px;
}
nav .user:hover, nav .user.active {
	background-color: #145715;
	box-shadow: 2px 2px 2px #5F5F5F, -2px 0px 2px #4A4A4A;
	color: #fff;
	/*border-right: solid 1px #888888;
	border-bottom: solid 1px #888888;*/
}

nav .user img {
	width: 40px;
	height: 40px;
	padding: 5px;
	border: solid 1px #BABABA;
	margin: 0 10px;
	border-radius: 40px;
}

nav .user span {
	margin: 0 5px;
}

nav .user span.user-menu {
	transform: rotateX(0deg);
}
nav .user.open-menu span.user-menu {
	transform: rotateX(180deg);
}
nav .user.close-menu span.user-menu {
	transform: rotateX(0deg);
}

nav .user .user-info {
	/*height: 100px;*/
	display: none;
	margin-top: 10px;
}

nav .admin-menu {
	display: block;
	position: fixed;
	top: 0;
	left: -18%;
	width: 18%;
	height: 100%;
	/*min-width: 150px;
	max-width: 220px;*/
	z-index: 1;
	background-color: #1D1D1D;
	box-shadow: 1px 0px 2px #333832;

	transform: translate3d(0,0,0);
}

nav .admin-menu.open-menu {
	transform: translate3d(100%,0,0);
}
nav .admin-menu.close-menu {
	transform: translate3d(0,0,0);
}

nav .admin-menu .admin-menu-header {
	display: block;
	height: 60px;
	color: #D5D0D0;
	font-size: 1.3em;
	/*text-align: center;*/
	padding: 20px 0 0 50px;

	border-bottom: solid 1px #3F4443;
	box-shadow: inset 0 5px 0 #164418, inset 0 6px 0 #1A5913;
}

nav .admin-menu li {
	/*float: left;*/
	display: block;
	height: auto;
	
	/*background-color: #333;*/
	border-bottom: solid 1px #3F4443;
}

nav .admin-menu li:hover, nav .admin-menu li.active {
	background-color: #324130;
	box-shadow: inset 5px 0 0 #24CB24, inset 6px 0 0 #3F4443;
}

nav .admin-menu li a {
	position: relative;
	padding: 25px 0px 25px 50px;
	color: #D5D0D0;
}

nav .admin-menu li a:hover, nav .admin-menu li.active a {
	color: #89FF8F;
}

header .search {
	padding: 32px 0;
	float: right;
}
header .search a {
	font-size: 1em;
	color: #2e3233;
	padding: 32px 15px;
}

.menu-backgroud {
	display: none;
}

@media only screen and (max-width: 780px) {

	header {
		opacity: 1;
		height: 60px;
		z-index: 2;
		background-color: #389139;
		
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		
		/* starting point */
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		
	}
	header h1 {
		color: #2e3233;
		line-height: 60px;
		text-align: center;
		padding-left: 0;
		display: block;
	}

	header .search {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		padding: 14px;
		font-size: 2em;
	}

	header .search a {
		color: #FFFFFF;
		padding: 5px;
	}

	header.open .search {
		opacity: 0;
	}

	.burger {
		display: block;
	}


	/*  Nav Drawer Layout  */
	nav {
		position: relative;
	}

	nav .left-slide {
		width: 80%;
		height: 100%;
		max-width: 320px;
	}

	nav .background {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000000;
		z-index: 0;
		opacity: 0;
	}

	nav .background span {
		float: right;
		color: #ffffff;
		font-size: 2em;
		padding: 15px;
	}

	nav ul {
		/*width: 80%;*/
		height: 100%;
		overflow-y: auto;
		/*max-width: 320px;*/
		opacity: 1;
	}
	nav li {
		height: auto;
		display: block;
		float: none;
	}
	nav .menu li, nav .admin-menu li {
		border: none;
		float: none;
		box-shadow: none;
	}
	nav li:hover {
		/*color: #fff;*/
		/*background-color: #121618;*/
		box-shadow: none;
	}
	nav .menu li.active, nav .admin-menu li.active, nav .menu li:hover, nav .admin-menu li:hover {
		background-color: transparent;
		box-shadow: none;
	}
	nav li a {
		color: #121618;
		padding: 20px;
		letter-spacing: 3px;
		/*font-size: 1em;*/
	}
	nav .menu li a {
		padding: 20px 0px 20px 40px;
		color: #121618;
	}
	nav .menu li a:hover {
		color: #121618;
	}
	nav .admin-menu li a {
		padding: 20px 0px 20px 50px;
		color: #242723;
	}
	nav .admin-menu li a:hover {
		color: #242723;
	}
	nav li a.logo {
		display: none;
	}
	nav li a.active {
		color: #1C6223;
		/*background-color: #121618;*/
	}
	nav .open-menu li a.active {
		color: #1A511A;
		/*background-color: #121618;*/
	}
	nav li:first-child a.active,
	nav li:first-child a:hover {
		/*border-radius: 10px 0 0 0;*/
	}
	
	nav .user {
		width: 100%;
		/*max-width: 320px;*/
		background-color: #176C18;
		padding: 20px 0 10px 0;
		box-shadow: 1px 1px 1px #5E6B60;
		position: relative;
		top: 0;
		left: 0;
		z-index: 3;
	}
	nav .user.open-menu {
		background-color: #1A511A;
		box-shadow: 1px 1px 1px #5E6B60;
	}
	nav .user:hover {
		/*background-color: transparent;*/
		background-color: #176C18;
		box-shadow: 1px 1px 1px #5E6B60;
	}
	nav .user.open-menu:hover {
		/*background-color: transparent;*/
		background-color: #1A511A;
		box-shadow: 1px 1px 1px #5E6B60;
	}
	nav .user img {
		width: 60px;
		height: 60px;
		padding: 10px;
		border-radius: 60px;
		margin: 10px;
		display: block;
	}
	nav .user span {
		margin: 0 20px;
		color: rgb(233, 249, 247);
	}
	nav .user span.user-menu {
		float: right;

		transform: rotate(0deg);
	}
	nav .user-info {
		display: none;
	}

	nav .menu, nav .admin-menu {
		width: 100%;
		/*max-width: 320px;*/
		height: 100%;
		padding: 0;
		background-color: #FFFFFF;
		box-shadow: 1px 0 1px #889389;
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		z-index: 1;

		transform: translate3d(0,0,0);
	}

	nav .admin-menu {
		/*display: none;*/
		top: -200%;
		z-index: 2;
	}

	nav .admin-menu .admin-menu-header {
		display: none;
	}

	nav .admin-menu, nav .admin-menu.close-menu {
		box-shadow: none;
	}

	.header-section {
		margin-top: 60px;
	}

	.menu-backgroud {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 3;
		/*background-color: rgba(0, 0, 0, .3);*/
		/*opacity: .3;*/
		display: none;
	}

	.menu-backgroud span {
		font-size: 2em;
		color: #000000;
		float: right;
		margin-top: 15px;
		margin-right: 20px;
	}

	/* NAVIGATION ANNIMATION */
	nav {
		width: 100%;
		height: 100%;
		/*max-width: 320px;*/
		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
		/*padding-left: 5px;*/
		/*background-color: rgba(0, 0, 0, 0);*/
		/*background-color: #26292A;*/
		/*border-radius: 8px;*/
		z-index: 4;
		/*box-shadow: 1px 0 3px #666666;*/
		
		/* starting point */
		/*opacity: .3;*/
		-webkit-transform: translate3d(-100%,0,0);
		-moz-transform: translate3d(-100%,0,0);
		-ms-transform: translate3d(-100%,0,0);
		-o-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
	}

	/*Nav Expanding Open Effect*/
	nav.open {
		/*opacity: 1;*/
		/*background-color: rgba(0, 0, 0, .5);*/
		-webkit-transform: translate3d(-5%,0,0);
		-webkit-animation: slideIn .35s ease-in-out;
		
		-moz-transform: translate3d(-5%,0,0);
		-moz-animation: slideIn .35s ease-in-out;

		-ms-transform: translate3d(-5%,0,0);
		-ms-animation: slideIn .35s ease-in-out;

		-o-transform: translate3d(-5%,0,0);
		-o-animation: slideIn .35s ease-in-out;
		
		transform: translate3d(0,0,0);
		animation: slideIn .35s ease-in-out;
	}
	@-webkit-keyframes slideIn {
		0% {
			-webkit-transform: translate3d(-100%,0,0);
		}
		70% {
			-webkit-transform: translate3d(0,0,0);
		}
		100% {
			-webkit-transform: translate3d(-5%,0,0);
		}
	}
	@-moz-keyframes slideIn {
		0% {
			-moz-transform: translate3d(-100%,0,0);
		}
		70% {
			-moz-transform: translate3d(0,0,0);
		}
		100% {
			-moz-transform: translate3d(-5%,0,0);
		}
	}
	@-ms-keyframes slideIn {
		0% {
			-ms-transform: translate3d(-100%,0,0);
		}
		70% {
			-ms-transform: translate3d(0,0,0);
		}
		100% {
			-ms-transform: translate3d(-5%,0,0);
		}
	}
	@-o-keyframes slideIn {
		0% {
			-o-transform: translate3d(-100%,0,0);
		}
		70% {
			-o-transform: translate3d(0,0,0);
		}
		100% {
			-o-transform: translate3d(-5%,0,0);
		}
	}
	@keyframes slideIn {
		0% {
			transform: translate3d(-100%,0,0);
			/*background-color: rgba(0, 0, 0, 0);*/
		}
		90% {
			transform: translate3d(0,0,0);
			/*background-color: rgba(0, 0, 0, 0);*/
		}
		100% {
			transform: translate3d(0,0,0);
			/*background-color: rgba(0, 0, 0, .5);*/
		}
	}

	/*Nav Shrinking Closed Effect*/
	nav.close {
		/*background-color: rgba(0, 0, 0, 0);*/
		-webkit-transform: translate3d(-100%,0,0);
		-webkit-animation: slideOut .3s ease-in-out;
		
		-moz-transform: translate3d(-100%,0,0);
		-moz-animation: slideOut .3s ease-in-out;
		
		-ms-transform: translate3d(-100%,0,0);
		-ms-animation: slideOut .3s ease-in-out;
		
		-o-transform: translate3d(-100%,0,0);
		-o-animation: slideOut .3s ease-in-out;
		
		transform: translate3d(-100%,0,0);
		animation: slideOut .3s ease-in-out;
	}
	@-webkit-keyframes slideOut {
		0% {
			-webkit-transform: translate3d(-5%,0,0);
		}
		100% {
			-webkit-transform: translate3d(-100%,0,0);
		}
	}
	@-moz-keyframes slideOut {
		0% {
			-moz-transform: translate3d(-5%,0,0);
		}
		100% {
			-moz-transform: translate3d(-100%,0,0);
		}
	}
	@-ms-keyframes slideOut {
		0% {
			-ms-transform: translate3d(-5%,0,0);
		}
		100% {
			-ms-transform: translate3d(-100%,0,0);
		}
	}
	@-o-keyframes slideOut {
		0% {
			-o-transform: translate3d(-5%,0,0);
		}
		100% {
			-o-transform: translate3d(-100%,0,0);
		}
	}
	@keyframes slideOut {
		0% {
			transform: translate3d(0,0,0);
		}
		100% {
			transform: translate3d(-100%,0,0);
		}
	}

	/*Nav open background Effect*/
	nav.open .background {
		opacity: .4;
		animation: showbg .3s ease-in-out;
	}
	@keyframes showbg {
		0% {
			opacity: 0;
		}
		90% {
			opacity: 0;
		}
		100% {
			opacity: .4;
		}
	}
	/*nav.open .background {
		opacity: .3;
	}*/

	/*Nav close background Effect*/
	/*nav.close .background {
		opacity: 0;
		animation: hidebg .3s ease-in-out;
	}
	@keyframes hidebg {
		0% {
			opacity: .3;
		}
		100% {
			opacity: 0;
		}
	}*/
	nav.close .background {
		opacity: 0;
	}

	/*User Menu*/
	nav .open-menu span.user-menu {
		transform: rotateX(180deg);
		animation: rotatehelf .3s ease-in-out;
	}
	@keyframes rotatehelf {
		0% {
			transform: rotateX(0deg);
		}
		100% {
			transform: rotateX(180deg);
		}
	}
	nav .close-menu span.user-menu {
		transform: rotateX(0deg);
		animation: rerotatehelf .3s ease-in-out;
	}
	@keyframes rerotatehelf {
		0% {
			transform: rotateX(180deg);
		}
		100% {
			transform: rotateX(-0deg);
		}
	}
	/*Admin menu*/
	nav .menu.open-menu ul {
		/*display: none;*/
		transform: translate3d(0,100%,0);
		animation: showin .3s ease-in-out;
		/*animation: hideout .3s ease-in-out;*/
	}
	nav .menu.close-menu ul {
		/*display: block;*/
		transform: translate3d(0,0,0);
		animation: hideout .3s ease-in-out;
		/*animation: showin .3s ease-in-out;*/
	}
	@keyframes showdiv {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes hidediv {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes showin {
		0% {
			transform: translate3d(0,0,0);
		}
		100% {
			transform: translate3d(0,100%,0);
		}
	}
	@keyframes hideout {
		0% {
			transform: translate3d(0,100%,0);
		}
		100% {
			transform: translate3d(0,0%,0);
		}
	}
	nav .admin-menu.open-menu {
		/*display: block;*/
		transform: translate3d(0,100%,0);
		animation: showin .3s ease-in-out;
	}
	nav .admin-menu.close-menu {
		/*display: none;*/
		transform: translate3d(0,0%,0);
		animation: hideout .3s ease-in-out;
	}

	/* CONTENT ANNIMATION */
	.content {
		/* starting point */
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		z-index: 1;
	}

	/*Content Sliding Open Effect*/
	/*header.open,
	.content.open {   
		-webkit-transform: translate3d(0,0,0);
		-webkit-animation: open .5s ease-in-out;
		
		-moz-transform: translate3d(0,0,0);
		-moz-animation: open .5s ease-in-out;
		
		-ms-transform: translate3d(0,0,0);
		-ms-animation: open .5s ease-in-out;
		
		-o-transform: translate3d(0,0,0);
		-o-animation: open .5s ease-in-out;
		
		transform: translate3d(0,0,0);
		animation: open .5s ease-in-out;
	}
	@-webkit-keyframes open {
		0% {-webkit-transform: translate3d(0,0,0);}
		70% {-webkit-transform: translate3d(0,0,0);}
		100% {-webkit-transform: translate3d(0,0,0);}
	}
	@-moz-keyframes open {
		0% {-moz-transform: translate3d(0,0,0);}
		70% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@-ms-keyframes open {
		0% {-moz-transform: translate3d(0,0,0);}
		70% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@-o-keyframes open {
		0% {-moz-transform: translate3d(0,0,0);}
		70% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@keyframes open {
		0% {transform: translate3d(0,0,0);}
		70% {transform: translate3d(0,0,0);}
		100% {transform: translate3d(0,0,0);}
	}*/

	/*Content Sliding Closed Effect*/
	/*header.close,
	.content.close {
		-webkit-transform: translate3d(0,0,0);
		-webkit-animation: close .3s ease-in-out;
		
		-moz-transform: translate3d(0,0,0);
		-moz-animation: close .3s ease-in-out;
		
		-ms-transform: translate3d(0,0,0);
		-ms-animation: close .3s ease-in-out;
		
		-o-transform: translate3d(0,0,0);
		-o-animation: close .3s ease-in-out;
		
		transform: translate3d(0,0,0);
		animation: close .3s ease-in-out;
	}
	@-webkit-keyframes close {
		0% {-webkit-transform: translate3d(0,0,0);}
		100% {-webkit-transform: translate3d(0,0,0);}
	}
	@-moz-keyframes close {
		0% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@-ms-keyframes close {
		0% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@-o-keyframes close {
		0% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@keyframes close {
		0% {transform: translate3d(0,0,0);}
		100% {transform: translate3d(0,0,0);}
	}*/

}