body {
	/*background-color: #000;*/
	
	/*font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
	/*color: #9aa6af;*/
	text-rendering: optimizelegibility;
	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;

	-o-tap-highlight-color:rgba(0,0,0,0); 
	-o-text-size-adjust: none;
	-o-font-smoothing: antialiased;

	tap-highlight-color:rgba(0,0,0,0); 
	text-size-adjust: none;
	font-smoothing: antialiased;
}
a {
	text-decoration: none;
}

.container {
	overflow: hidden;
	background-color: #000;

	/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

header {
	height: 80px;
	position: relative;
	background-color: #ffffff;
}
header h1 {
	color: #9aa6af;
	text-align: left;
	font-size: 2em;
	line-height: 80px;
	font-weight: bold;
	padding-left: 20px;
}

.burger {
	position: absolute;
	float: left;
	padding: 10px;
	top: 4px;
	left: 10px;
	
	display: none;
}
.burger span {
	font-size: 2em;
	color: #232323;
}
.burger.open li {
	color: #626569;
}

nav {
	position: absolute;
	top: 0;
	right: 5px;
}
nav li {
	float: left;
	display: inline-block;
}
nav li.active, nav li:hover {
	box-shadow: inset 0 -2px 0 #69aa6f;
	border-bottom: #69aa6f 1px solid\0;
}
nav li a {
	font-size: 1em;
	color: #2e3233;
	padding: 32px 25px;
	
	display: block;
}
nav li a:hover {
	color: #69aa6f;
}

@media only screen and (max-width: 780px) {

	header {
		opacity: 1;
		height: 60px;
		z-index: 2;
		background-color: #ffffff;
		
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		
		/* starting point */
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		
	}
	header h1 {
		color: #2e3233;
		line-height: 60px;
		text-align: center;
		padding-left: 0;
		display: block;
	}
	.burger {
		display: block;
	}


	/*  Nav Drawer Layout  */
	nav {
		position: relative;
	}

	nav ul {
		/*width: 80%;*/
		height: 100%;
		overflow-y: auto;
		/*max-width: 320px;
		opacity: 1;*/
	}
	nav li {
		display: block;
		float: none;
	}
	nav li:hover {
		color: #fff;
		background-color: #121618;
	}
	nav li a {
		color: #fff;
		padding: 22px 25px;
		letter-spacing: 3px;
		font-size: 1em;
	}
	nav li a.logo {
		display: none;
	}
	nav li a.active {
		color: #fff;
		background-color: #121618;
	}
	nav li:first-child a.active,
	nav li:first-child a:hover {
		border-radius: 10px 0 0 0;
	}

	.header-section {
		margin-top: 60px;
	}

	.menu-backgroud {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 3;
		background-color: rgba(0, 0, 0, .3);
		/*opacity: .3;*/
		display: none;
	}

	.menu-backgroud span {
		font-size: 2em;
		color: #000000;
		float: right;
		margin-top: 15px;
		margin-right: 20px;
	}

	/* NAVIGATION ANNIMATION */
	nav {
		width: 80%;
		height: 100%;
		max-width: 320px;
		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
		padding-left: 5px;
		background-color: #26292A;
		/*border-radius: 8px;*/
		z-index: 4;
		box-shadow: 1px 0 3px #666666;
		
		/* starting point */
		/*opacity: .3;*/
		-webkit-transform: translate3d(-100%,0,0);
		-moz-transform: translate3d(-100%,0,0);
		-ms-transform: translate3d(-100%,0,0);
		-o-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
	}

	/*Nav Expanding Open Effect*/
	nav.open {

		-webkit-transform: translate3d(-5%,0,0);
		-webkit-animation: slideIn .35s ease-in-out;
		
		-moz-transform: translate3d(-5%,0,0);
		-moz-animation: slideIn .35s ease-in-out;

		-ms-transform: translate3d(-5%,0,0);
		-ms-animation: slideIn .35s ease-in-out;

		-o-transform: translate3d(-5%,0,0);
		-o-animation: slideIn .35s ease-in-out;
		
		transform: translate3d(-5%,0,0);
		animation: slideIn .35s ease-in-out;
	}
	@-webkit-keyframes slideIn {
		0% {
			-webkit-transform: translate3d(-100%,0,0);
		}
		70% {
			-webkit-transform: translate3d(0,0,0);
		}
		100% {
			-webkit-transform: translate3d(-5%,0,0);
		}
	}
	@-moz-keyframes slideIn {
		0% {
			-moz-transform: translate3d(-100%,0,0);
		}
		70% {
			-moz-transform: translate3d(0,0,0);
		}
		100% {
			-moz-transform: translate3d(-5%,0,0);
		}
	}
	@-ms-keyframes slideIn {
		0% {
			-ms-transform: translate3d(-100%,0,0);
		}
		70% {
			-ms-transform: translate3d(0,0,0);
		}
		100% {
			-ms-transform: translate3d(-5%,0,0);
		}
	}
	@-o-keyframes slideIn {
		0% {
			-o-transform: translate3d(-100%,0,0);
		}
		70% {
			-o-transform: translate3d(0,0,0);
		}
		100% {
			-o-transform: translate3d(-5%,0,0);
		}
	}
	@keyframes slideIn {
		0% {
			transform: translate3d(-100%,0,0);
		}
		90% {
			transform: translate3d(0,0,0);
		}
		100% {
			transform: translate3d(-5%,0,0);
		}
	}

	/*Nav Shrinking Closed Effect*/
	nav.close {
		
		-webkit-transform: translate3d(-100%,0,0);
		-webkit-animation: slideOut .3s ease-in-out;
		
		-moz-transform: translate3d(-100%,0,0);
		-moz-animation: slideOut .3s ease-in-out;
		
		-ms-transform: translate3d(-100%,0,0);
		-ms-animation: slideOut .3s ease-in-out;
		
		-o-transform: translate3d(-100%,0,0);
		-o-animation: slideOut .3s ease-in-out;
		
		transform: translate3d(-100%,0,0);
		animation: slideOut .3s ease-in-out;
	}
	@-webkit-keyframes slideOut {
		0% {
			-webkit-transform: translate3d(-5%,0,0);
		}
		100% {
			-webkit-transform: translate3d(-100%,0,0);
		}
	}
	@-moz-keyframes slideOut {
		0% {
			-moz-transform: translate3d(-5%,0,0);
		}
		100% {
			-moz-transform: translate3d(-100%,0,0);
		}
	}
	@-ms-keyframes slideOut {
		0% {
			-ms-transform: translate3d(-5%,0,0);
		}
		100% {
			-ms-transform: translate3d(-100%,0,0);
		}
	}
	@-o-keyframes slideOut {
		0% {
			-o-transform: translate3d(-5%,0,0);
		}
		100% {
			-o-transform: translate3d(-100%,0,0);
		}
	}
	@keyframes slideOut {
		0% {
			transform: translate3d(-5%,0,0);
		}
		100% {
			transform: translate3d(-100%,0,0);
		}
	}

	/* CONTENT ANNIMATION */
	.content {
		/* starting point */
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		z-index: 1;
	}

	/*Content Sliding Open Effect*/
	/*header.open,
	.content.open {   
		-webkit-transform: translate3d(0,0,0);
		-webkit-animation: open .5s ease-in-out;
		
		-moz-transform: translate3d(0,0,0);
		-moz-animation: open .5s ease-in-out;
		
		-ms-transform: translate3d(0,0,0);
		-ms-animation: open .5s ease-in-out;
		
		-o-transform: translate3d(0,0,0);
		-o-animation: open .5s ease-in-out;
		
		transform: translate3d(0,0,0);
		animation: open .5s ease-in-out;
	}
	@-webkit-keyframes open {
		0% {-webkit-transform: translate3d(0,0,0);}
		70% {-webkit-transform: translate3d(0,0,0);}
		100% {-webkit-transform: translate3d(0,0,0);}
	}
	@-moz-keyframes open {
		0% {-moz-transform: translate3d(0,0,0);}
		70% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@-ms-keyframes open {
		0% {-moz-transform: translate3d(0,0,0);}
		70% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@-o-keyframes open {
		0% {-moz-transform: translate3d(0,0,0);}
		70% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@keyframes open {
		0% {transform: translate3d(0,0,0);}
		70% {transform: translate3d(0,0,0);}
		100% {transform: translate3d(0,0,0);}
	}*/

	/*Content Sliding Closed Effect*/
	/*header.close,
	.content.close {
		-webkit-transform: translate3d(0,0,0);
		-webkit-animation: close .3s ease-in-out;
		
		-moz-transform: translate3d(0,0,0);
		-moz-animation: close .3s ease-in-out;
		
		-ms-transform: translate3d(0,0,0);
		-ms-animation: close .3s ease-in-out;
		
		-o-transform: translate3d(0,0,0);
		-o-animation: close .3s ease-in-out;
		
		transform: translate3d(0,0,0);
		animation: close .3s ease-in-out;
	}
	@-webkit-keyframes close {
		0% {-webkit-transform: translate3d(0,0,0);}
		100% {-webkit-transform: translate3d(0,0,0);}
	}
	@-moz-keyframes close {
		0% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@-ms-keyframes close {
		0% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@-o-keyframes close {
		0% {-moz-transform: translate3d(0,0,0);}
		100% {-moz-transform: translate3d(0,0,0);}
	}
	@keyframes close {
		0% {transform: translate3d(0,0,0);}
		100% {transform: translate3d(0,0,0);}
	}*/

}