<div class="mdl-card mdl-shadow--2dp mdl-color--green-A400 mdl-color-text--grey-100" style="background: url(img/avatar/avatar1.jpg) center / cover;">
    <div class="mdl-card__title mdl-card--expand">
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <span class="demo-card-image__filename">Name</span>
        <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-card__menu">
        <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">add</i>
        </a>
        <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
        </a>
        <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">more_vert</i>
        </a>
    </div>
</div>