.user-menu {
  display: inline-block;
  position: absolute;
  top: 0;
}
.user-hover {
  background-color: #145715;
  box-shadow: 2px 2px 2px #5f5f5f, -2px 0px 2px #4a4a4a;
  color: #fff;
}
.li-style {
  padding: 32px 15px;
  font-size: 1em;
  color: #2e3233;
}
.m-menu {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #FFFFFF;
  box-shadow: 1px 0 1px #889389;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  transition: top .5s;
}
.header-open-menu {
  width: 82%;
  margin-left: 18%;
}
.header-close-menu {
  width: 100%;
  margin-left: 0;
}
body {
  text-rendering: optimizelegibility;
  tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: none;
  font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
.container {
  overflow: hidden;
  background-color: #000;
  /*Prevents Flickering*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.container.open-menu header,
.container.open-menu .content {
  width: 82%;
  margin-left: 18%;
}
.container.open-menu nav .left-slide .user {
  background-color: #145715;
  box-shadow: 2px 2px 2px #5f5f5f, -2px 0px 2px #4a4a4a;
  color: #fff;
}
.container.open-menu nav .left-slide .user .user-panel .user-burger {
  transform: rotateX(180deg);
}
.container.open-menu nav .left-slide .admin-menu {
  left: 0;
}
.container header {
  position: relative;
  width: 100%;
  height: 80px;
  margin-left: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 1px #cccccc outset;
  -moz-box-shadow: 0px 2px 2px 1px #cccccc outset;
  -ms-box-shadow: 0px 2px 2px 1px #cccccc outset;
  -o-box-shadow: 0px 2px 2px 1px #cccccc outset;
  box-shadow: 0px 2px 2px 1px #cccccc outset;
  transition: width 0.5s, margin-left 0.5s;
}
.container header .burger {
  position: absolute;
  top: 8px;
  left: 10px;
  float: left;
  padding: 10px;
  display: none;
}
.container header .burger span {
  color: #F0F0F0;
  font-size: 2em;
}
.container header .logo h1 {
  display: inline-block;
  padding-left: 20px;
  color: #9aa6af;
  line-height: 80px;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
}
.container header .header-title {
  display: none;
}
.container header .search {
  display: inline-block;
  float: right;
  padding: 32px 15px;
  font-size: 1em;
  color: #2e3233;
}
.container header .search:hover,
.container header .search.active {
  -webkit-box-shadow: 0 -2px 0 0 #69aa6f inset;
  -moz-box-shadow: 0 -2px 0 0 #69aa6f inset;
  -ms-box-shadow: 0 -2px 0 0 #69aa6f inset;
  -o-box-shadow: 0 -2px 0 0 #69aa6f inset;
  box-shadow: 0 -2px 0 0 #69aa6f inset;
  color: #69aa6f;
}
.container nav .background {
  display: none;
}
.container nav .left-slide .user {
  right: 80px;
  padding: 16px;
  display: inline-block;
  position: absolute;
  top: 0;
}
.container nav .left-slide .user:hover,
.container nav .left-slide .user.active {
  background-color: #145715;
  box-shadow: 2px 2px 2px #5f5f5f, -2px 0px 2px #4a4a4a;
  color: #fff;
}
.container nav .left-slide .user img {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0 10px;
  border: solid 1px #bababa;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}
.container nav .left-slide .user .user-panel {
  display: inline-block;
}
.container nav .left-slide .user .user-panel span {
  margin: 0 5px;
}
.container nav .left-slide .user .user-panel .user-burger {
  transition: transform .5s;
}
.container nav .left-slide .user .user-info {
  display: none;
  margin-top: 10px;
}
.container nav .left-slide .menu {
  right: 300px;
  padding: 0 20px;
  display: inline-block;
  position: absolute;
  top: 0;
}
.container nav .left-slide .admin-menu {
  display: block;
  position: fixed;
  top: 0;
  left: -18%;
  width: 18%;
  height: 100%;
  z-index: 1;
  background-color: #1D1D1D;
  box-shadow: 1px 0px 2px #333832;
  transition: left .5s;
}
.container nav .left-slide .admin-menu .admin-menu-header {
  display: block;
  height: 60px;
  color: #D5D0D0;
  font-size: 1.3em;
  /*text-align: center;*/
  padding: 20px 0 0 50px;
  border-bottom: solid 1px #3F4443;
  box-shadow: inset 0 5px 0 #164418, inset 0 6px 0 #1A5913;
}
.container nav .left-slide .admin-menu ul li {
  /*float: left;*/
  display: block;
  height: auto;
  /*background-color: #333;*/
  border-bottom: solid 1px #3F4443;
}
.container nav .left-slide .admin-menu ul li:hover,
.container nav .left-slide .admin-menu ul li.active {
  background-color: #324130;
  box-shadow: inset 5px 0 0 #24CB24, inset 6px 0 0 #3F4443;
}
.container nav .left-slide .admin-menu ul li:hover a,
.container nav .left-slide .admin-menu ul li.active a {
  color: #89FF8F;
}
.container nav .left-slide .admin-menu ul li a {
  position: relative;
  padding: 25px 0px 25px 50px;
  color: #D5D0D0;
}
.container nav .left-slide ul li {
  display: inline-block;
  height: 80px;
}
.container nav .left-slide ul li:hover,
.container nav .left-slide ul li.active {
  -webkit-box-shadow: 0 -2px 0 0 #69aa6f inset;
  -moz-box-shadow: 0 -2px 0 0 #69aa6f inset;
  -ms-box-shadow: 0 -2px 0 0 #69aa6f inset;
  -o-box-shadow: 0 -2px 0 0 #69aa6f inset;
  box-shadow: 0 -2px 0 0 #69aa6f inset;
}
.container nav .left-slide ul li:hover a,
.container nav .left-slide ul li.active a {
  color: #69aa6f;
}
.container nav .left-slide ul li a {
  display: block;
  padding: 32px 15px;
  font-size: 1em;
  color: #2e3233;
}
.container nav .left-slide ul li a span {
  margin-right: 5px;
}
.container .content {
  width: 100%;
  margin-left: 0;
  transition: width 0.5s, margin-left 0.5s;
}
@media only screen and (max-width: 1024px) {
  .container.open header .search {
    opacity: 0;
  }
  .container.open nav {
    left: 0;
  }
  .container.open nav .background {
    opacity: .4;
    animation: showbg 0.3s ease-in-out;
  }
  .container.open-menu header,
  .container.open-menu .content {
    width: 100%;
    margin-left: 0;
  }
  .container.open-menu nav .left-slide .user {
    background-color: #1A511A;
    box-shadow: 1px 1px 1px #5E6B60;
  }
  .container.open-menu nav .left-slide .menu {
    top: 100%;
  }
  .container.open-menu nav .left-slide .admin-menu {
    top: -100%;
  }
  .container header {
    opacity: 1;
    height: 60px;
    z-index: 2;
    background-color: #389139;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .container header .burger {
    display: block;
    color: #FFFFFF;
    padding: 5px;
  }
  .container header .logo h1 {
    color: #2e3233;
    line-height: 60px;
    text-align: center;
    padding-left: 0;
    display: block;
  }
  .container header .search {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
    font-size: 2em;
  }
  .container nav {
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    margin: 0;
    z-index: 4;
    transition: left, .5s;
  }
  .container nav .background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 0;
    opacity: 0;
  }
  .container nav .background span {
    float: right;
    color: #ffffff;
    font-size: 2em;
    padding: 15px;
  }
  .container nav .left-slide {
    width: 80%;
    height: 100%;
    max-width: 320px;
  }
  .container nav .left-slide .user {
    width: 100%;
    background-color: #176C18;
    padding: 20px 0 10px 0;
    box-shadow: 1px 1px 1px #5E6B60;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .container nav .left-slide .user img {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 60px;
    margin: 10px;
    display: block;
  }
  .container nav .left-slide .user .user-panel {
    display: block;
  }
  .container nav .left-slide .user .user-panel span {
    margin: 0 20px;
    color: #eee;
  }
  .container nav .left-slide .user .user-panel .user-burger {
    float: right;
    transition: transform .5s;
  }
  .container nav .left-slide .user .user-info {
    display: none;
    margin-top: 10px;
  }
  .container nav .left-slide .menu {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: 1px 0 1px #889389;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    transition: top .5s;
  }
  .container nav .left-slide .admin-menu {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: 1px 0 1px #889389;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    transition: top .5s;
    top: -200%;
    z-index: 2;
    box-shadow: none;
  }
  .container nav .left-slide .admin-menu .admin-menu-header {
    display: none;
  }
  .container nav .left-slide .admin-menu ul li {
    height: auto;
    display: block;
    border: none;
    float: none;
    box-shadow: none;
  }
  .container nav .left-slide .admin-menu ul li:hover,
  .container nav .left-slide .admin-menu ul li.active {
    background-color: #fee;
    color: #121618;
  }
  .container nav .left-slide .admin-menu ul li:hover a,
  .container nav .left-slide .admin-menu ul li.active a {
    color: #121618;
  }
  .container nav .left-slide .admin-menu ul li a {
    color: #121618;
    padding: 20px 0px 20px 40px;
    letter-spacing: 3px;
  }
  .container nav .left-slide ul {
    height: 100%;
    overflow-y: auto;
    opacity: 1;
  }
  .container nav .left-slide ul li {
    height: auto;
    display: block;
    border: none;
    float: none;
    box-shadow: none;
  }
  .container nav .left-slide ul li:hover,
  .container nav .left-slide ul li.active {
    background-color: #fee;
    color: #121618;
  }
  .container nav .left-slide ul li a {
    color: #121618;
    padding: 20px 0px 20px 40px;
    letter-spacing: 3px;
  }
}
@keyframes showbg {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: .4;
  }
}
